@page "/"
@inject SessionState _state

<PageTitle>Planning Poker</PageTitle>

<div class="container p-0" style="max-width: 600px;">
    <div class="logo-hero">
        <img src="cowboy1.svg">
    </div>
    
    <h1 class="font-cursive">Free</h1>
    <h1 class="font-title">Planning Poker</h1>

    <div class="mt-5 mb-5 text-center">
        Always Free * Unlimited Sessions * Unlimited Participants
    </div>

    <div class="card shadow border-0">
        <div class="card-body">
            <div class="d-flex gap-2">
                <div class="flex-fill">
                    <input type="text" class="form-control" placeholder="Session Title" @bind-value=Title>
                </div>
                <div class="flex-fill">
                    <input type="text" class="form-control" placeholder="Your Name" @bind-value=Name>
                </div>
                <div class="">
                    <button class="btn btn-primary" @onclick="@(async () => await _state.CreateAsync(Title, Name))">Start Planning</button>
                </div>
            </div>
        </div>
    </div>

    <b class="d-block mt-5 mb-3">What is this?</b>

    <p class="text-justify">
        This is Free Planning Poker, a free tool for software teams to do "planning poker" exercises to estimate the difficulty and length of development tasks. You can probably use it for other purposes if you need, too. It's always going to be free, without limits.
    </p>

    <b class="d-block mt-5 mb-3">Why does Free Planning Poker exist?</b>

    <p class="text-justify">
        I got fed up with tools being advertised as "free" but then being "freemium". Other tools limit the number of people you can have in a session, or they limit how many people can join, or they limit how much fun you can have. This one is unlimited across the board.
    </p>

    <b class="d-block mt-5 mb-3">Why does it look like crap?</b>

    <p class="text-justify">
        Besides that I used <a href="https://getbootstrap.com/">Bootstrap</a>, this is the <i>very</i> first-pass version. I believe in releasing early and often. If you'd like to try your hand at prettying something up, this site is <a href="https://github.com/IanWold/PlanningPoker">open source</a> and you can open a pull request. Otherwise you can <a href="https://ian.wold.guru/connect.html">contact me</a> to voice your displeasure.
    </p>

    <b class="d-block mt-5 mb-3">Who are you?</b>

    <p class="text-justify">
        My name is <a href="https://ian.wold.guru">Ian Wold</a>, I'm a software engineer in Minneapolis. Occasionally I build things and put them online. If you find Free Planning Poker useful, I'd be greatful if you might <a href="https://ko-fi.com/ianwold">buy me a coffee</a>, I spend all proceeds on server costs and not coffee.
    </p>
</div>

@code {
    string Title { get; set; } = string.Empty;

    string Name { get; set; } = string.Empty;
}
