@page "/session/{SessionId:guid}"
@inject SessionState _state

@using System

<PageTitle>@(_state.Session?.Title ?? "Session")</PageTitle>

@if (_state.Session is null)
{
    <span>Loading...</span>
}
else
{
    <JoinFormComponent />

    @if (IsEditingTitle)
    {
        <div class="overlay">
            <div class="modal modal-md d-block"> <div class="modal-dialog"> <div class="modal-content"> <div class="modal-body">
                <form class="d-flex gap-2 w-100" @onsubmit=OnSaveTitleClicked>
                    <input type="text" class="form-control" placeholder="Enter a title for the session" required pattern="(.|\s)*\S(.|\s)*" @bind-value=Title>
                    <button class="btn border-0 btn-outline-success" type="submit"><ion-icon name="checkmark-sharp"></ion-icon></button>
                    <button class="btn border-0 btn-outline-secondary" @onclick=OnCloseEditTitleModalClicked><ion-icon name="close-sharp"></ion-icon></button>
                </form>
            </div> </div> </div> </div>
        </div>
    }

    @if (IsEditingName)
    {
        <div class="overlay">
            <div class="modal modal-md d-block"> <div class="modal-dialog"> <div class="modal-content"> <div class="modal-body">
                <form class="d-flex gap-2 w-100" @onsubmit=OnSaveNameClicked>
                    <input type="text" class="form-control" placeholder="Enter your name" required pattern="(.|\s)*\S(.|\s)*" @bind-value=Name>
                    <button class="btn border-0 btn-outline-success" type="submit"><ion-icon name="checkmark-sharp"></ion-icon></button>
                    <button class="btn border-0 btn-outline-secondary" @onclick=OnCloseEditNameModalClicked><ion-icon name="close-sharp"></ion-icon></button>
                </form>
            </div> </div> </div> </div>
        </div>
    }

    <ShareNotificationComponent />

    <div class="session" style="@(IsContentBlurred ? "filter: blur(1px)" : "")">
        <div class="card m-3 shadow-sm border-0" style="grid-area: header; width: 600px;">
            <div class="card-body p-2">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <button type="button" class="btn btn-outline-light border-0 text-dark hidden-icon fw-bold" @onclick=OnEditTitleClicked>@_state.Session.Title <ion-icon name="settings-sharp"></ion-icon></button>
                    <button type="button" class="btn btn-outline-light border-0 text-dark hidden-icon" @onclick=OnEditNameClicked><ion-icon name="person-sharp"></ion-icon> @_state.Self?.Name</button>
                </div>
            </div>
        </div>
        
        <AddComponent />

        <div style="grid-area: main">
            <CenterTableComponent />
        </div>

        <div style="grid-area: footer;">
            <PointSelectionComponent />
        </div>

        <HelpComponent />
    </div>
}

@code {
    [Parameter]
    public Guid SessionId { get; set; }

    string Title { get; set; } = string.Empty;

    string Name { get; set; } = string.Empty;

    bool IsEditingTitle { get; set; }

    bool IsEditingName { get; set; }

    bool IsContentBlurred =>
        _state.Self is null
        || IsEditingTitle
        || IsEditingName;

    protected override async Task OnInitializedAsync()
    {
        _state.OnStateChanged += (o, e) => StateHasChanged();
        await _state.LoadAsync(SessionId);
    }

    void OnEditTitleClicked()
    {
        Title = _state.Session.Title;
        IsEditingTitle = true;
        StateHasChanged();
    }

    void OnEditNameClicked()
    {
        Name = _state.Self!.Name;
        IsEditingName = true;
        StateHasChanged();
    }

    void OnCloseEditTitleModalClicked()
    {
        IsEditingTitle = false;
    }

    void OnCloseEditNameModalClicked()
    {
        IsEditingName = false;
    }

    async Task OnSaveTitleClicked()
    {
        if (!string.IsNullOrWhiteSpace(Title))
        {
            await _state.UpdateTitleAsync(Title);
            IsEditingTitle = false;
            StateHasChanged();
        }
    }

    async Task OnSaveNameClicked()
    {
        if (!string.IsNullOrWhiteSpace(Name))
        {
            await _state.UpdateNameAsync(Name);
            IsEditingName = false;
            StateHasChanged();
        }
    }
}
