@inject SessionState _state
@inject IJSRuntime _jsRuntime

<div class="m-3" style="position: absolute; top: 0; right: 0;">
    <button type="button" class="m-2 btn btn-square btn-outline-success border-0 dropdown-toggle caret-off" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
        <ion-icon name="add-sharp"></ion-icon>
    </button>
    <div class="dropdown-menu dropdown-menu-end mt-3 shadow border-0">
        <h6 class="dropdown-header"><ion-icon name="person-add-sharp" style="margin-bottom: -2px;"></ion-icon> Invite a participant</h6>
        <div class="input-group px-3 pb-2" style="width: 675px;">
            <input type="email" class="form-control" disabled value="@(_state.SessionUrl)">
            <button class="btn btn-outline-secondary" type="button" @onclick="@(async () => await _jsRuntime.InvokeVoidAsync("navigator.clipboard.writeText", _state.SessionUrl))"><ion-icon name="clipboard-sharp"></ion-icon></button>
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="https://freeplanningpoker.io" target="_blank" rel="noopener noreferrer"><ion-icon name="open-outline" style="margin-bottom: -2px;"></ion-icon> Start a new planning session</a>
    </div>
</div>