<div>
    <button type="button" class="m-2 btn btn-square btn-outline-secondary border-0 dropdown-toggle caret-off" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
        <ion-icon name="cafe-sharp"></ion-icon>
    </button>
    <div class="dropdown-menu dropdown-menu-end mb-3 shadow border-0" style="width: 500px;">
        <div class="d-flex justify-content-between px-3 align-items-center">
            <p class="m-0 fw-bold">Support Free Planning Poker</p>
            <a href="https://ko-fi.com/ianwold" class="btn btn-outline-light border-0 text-dark" target="_blank" rel="noopener noreferrer"><ion-icon name="cafe-sharp"></ion-icon> Buy me a Coffee</a>
        </div>
        <div class="dropdown-divider"></div>
        <div class="px-3 py-1">
            <small class="d-block">Hello! My name is <a href="https://ian.wold.guru/" target="_blank" rel="noopener noreferrer">Ian Wold</a>, I created and maintain Free Planning Poker. This app is always going to be free, secure, open-source, and easily extendable and deployable for your own needs. It won't ever have ads, bloat, user tracking, or information harvesting.</small>
            <small class="d-block mt-3">I want to keep it exactly that way, forever (or at least a really, really long time). Though this app is architected to keep server costs to a minimum, they do still add up over time.</small>
            <small class="d-block mt-3">If you and/or your team finds Free Planning Poker useful, please do consider <a href="https://ko-fi.com/ianwold" target="_blank" rel="noopener noreferrer">buying me a coffee</a>! I promise to spend it on servers and not coffee.</small>
        </div>
    </div>
</div>