<div>
    <button type="button" class="m-2 btn btn-square btn-outline-secondary border-0 dropdown-toggle caret-off" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
        <ion-icon name="information-circle-sharp"></ion-icon>
    </button>
    <div class="dropdown-menu dropdown-menu-end mb-3 shadow border-0" style="width: 500px;">
        <div class="d-flex justify-content-between px-3 align-items-center">
            <p class="m-0 fw-bold">Help</p>
            <a href="https://github.com/IanWold/PlanningPoker/issues" class="btn btn-outline-light border-0 text-dark" target="_blank" rel="noopener noreferrer"><ion-icon name="logo-github"></ion-icon> Report an Issue</a>
        </div>
        <div class="dropdown-divider"></div>
        <div class="px-3 py-1" style="text-align: justify;">
            <small class="fw-bold d-block">Pointing</small>
            <small>Choose your points on the bottom bar. The point you choose will be highlighted for you on the bottom bar, but it won't be shown to the other participants. You all see the same thing on the center table. In order to remove your points, click on your chosen points again.</small>
            <small class="fw-bold d-block mt-3">Revealing Points</small>
            <small>Click the reveal button in the middle of the center table to show all participants each others' points. From here, you can click the reset button to hide everyone's points again and erase them to begin a new round of voting.</small>
            <small class="fw-bold d-block mt-3">Adding Participants</small>
            <small>Anybody with a link can join your pointing session. Copy the URL in the address bar and send it to all of your participants.</small>
            <small class="fw-bold d-block mt-3">Renaming</small>
            <small>You can rename the session or yourself by clicking the respective buttons in the top bar. You will be prompted to enter a new name, and clicking the green check icon will apply the new name.</small>
            <small class="fw-bold d-block mt-3">Send Stars</small>
            <small>Hover over the other participants' cards and click the ⭐ button to send them a star!</small>
            <small class="fw-bold d-block mt-3">When the Session is Over</small>
            <small>At the end of the session, all participants can simply close their browser windows. When the last participant leaves the session, it is immediately deleted from the server and you will not be able to access it again. You can always create as many sessions as you need from the homepage!</small>
        </div>
    </div>
</div>