@inject SessionState _state

@if (_state.Self is null)
{
    <div class="overlay">
        <div class="modal modal-md d-block"> <div class="modal-dialog"> <div class="modal-content"> <div class="modal-body">
            <form class="d-flex gap-2 w-100" @onsubmit=OnJoinClicked>
                <input type="text" class="form-control" placeholder="Enter your name to join the session" required pattern="(.|\s)*\S(.|\s)*" @bind-value=Name>
                <button class="btn btn-primary" type="submit">Join</button>
            </form>
        </div> </div> </div> </div>
    </div>
}

@code {
    string Name { get; set; } = string.Empty;
    
    protected override void OnInitialized()
    {
        _state.OnStateChanged += (o, e) => StateHasChanged();
    }

    async Task OnJoinClicked()
    {
        if (!string.IsNullOrWhiteSpace(Name))
        {
            await _state.JoinAsync(Name);
        }
    }
}