@inject SessionState _state

<div class="card m-3 w-auto shadow-sm border-0" style="max-width: 600px;">
    <div class="card-body p-2">
        <div class="d-flex gap-2 justify-content-between">
            @foreach (var option in _state.Options)
            {
                <button class="btn btn-square @(_state.Self?.Points == option ? "btn-primary" : "btn-outline-primary")" @onclick="@(async () => await _state.UpdatePointsAsync(option))">@option</button>
            }
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        _state.OnStateChanged += (o, e) => StateHasChanged();
    }
}