@inject IJSRuntime _jsRuntime

<div class="m-3" style="position: absolute; top: 0; right: 0;">
    <button type="button" class="m-2 btn btn-square btn-outline-secondary border-0" onclick="toggleColorMode()">
        <ion-icon name="sunny-sharp"></ion-icon>
    </button>
</div>